@import 'variables';
@import 'mixins';
@import 'components/components';

#map {
  height: 85%;
  &.inactive {
    pointer-events: none;
  }
}

html, body {
  height: 100%;
}

body {
  background: $white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h2 {
  font-size: 30px;
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 15px 0;
}

footer {
  height: 5%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: $white;
  padding: 10px 0;
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid $black;
}