input {
  background-color: $white;
  border: 1px solid $black;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  color: $black;
  font-weight: 400;
  height: 45px;
  padding: 5px 15px;
  margin: 0;
  width: 100%;
}

.input-with-button {
  display: flex;
  flex-flow: row nowrap;
}

.input-with-button__input {
  border-right: 0;
}

.error-message {
  color: $red;
  display: none;
  margin-top: 5px;
}