.doughnut-popup {
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: calc(100% - 30px);
  overflow: hidden; }
  @media screen and (min-width: 769px) {
    .doughnut-popup {
      width: 770px; } }

.doughnut-popup__header {
  background: #7be0c1;
  padding: 20px; }
  .doughnut-popup__header h2 {
    margin: 0; }

.doughnut-popup__content {
  padding: 20px; }

.doughnut-popup__search {
  display: none;
  margin-top: 15px; }

.loading-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.loading-overlay__spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  -webkit-animation: spinner 2s infinite;
  animation: spinner 2s infinite;
  margin-left: -25px;
  margin-top: -25px; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.page-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none; }

.map-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  color: #000;
  -webkit-box-shadow: 0 0 20px 0 #000;
  box-shadow: 0 0 20px 0 #000;
  text-align: center; }

.map-popup__header {
  padding: 10px;
  background: #7be0c1; }
  .map-popup__header h4 {
    margin: 0;
    font-weight: bold; }

.map-popup__content {
  padding: 10px; }

.btn-group {
  margin: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .btn-group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .btn-group .button:not(:last-child) {
        margin-bottom: 10px; } }
  @media screen and (min-width: 481px) {
    .btn-group .button:not(:last-child) {
      margin-right: 10px; } }

button,
.button {
  -webkit-appearance: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  padding: 10px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button:hover, button:active, button:focus, button.active,
  .button:hover,
  .button:active,
  .button:focus,
  .button.active {
    outline: 0;
    background: #7be0c1; }
  button.disabled,
  .button.disabled {
    pointer-events: none;
    opacity: 0.2; }

input {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-weight: 400;
  height: 45px;
  padding: 5px 15px;
  margin: 0;
  width: 100%; }

.input-with-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

.input-with-button__input {
  border-right: 0; }

.error-message {
  color: #ff0000;
  display: none;
  margin-top: 5px; }

#map {
  height: 100%; }
  #map.inactive {
    pointer-events: none; }

html, body {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif; }

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

h2 {
  font-size: 30px;
  margin: 0 0 20px 0; }

p {
  margin: 0 0 15px 0; }
